# Ignore data folder
data/
result/

# Ignore output CSV files
output_*.csv
submission*.csv

# Ignore text files (parameter logs, etc)
*.txt

# Ignore Python cache and compiled files
__pycache__/
*.pyc

# Ignore Jupyter checkpoints
.ipynb_checkpoints/

# Optional: ignore model weight files
*.pkl
